{
  "openapi": "3.0.1",
  "info": {
    "title": "Cash Out Public API",
    "description": "This service suppose to handle batch settlements.",
    "contact": {
      "name": "",
      "url": "https://payping.ir"
    },
    "version": "v1",
    "x-logo": {
			"url": "https://cdn.payping.ir/statics/Payping-logo/full%20logo/english/fullcolor/SVG/payping.svg"
		}
  },
  "servers": [
    {
      "url": "https://api.payping.ir/"
    }
  ],
  "paths": {
    "/v1/cash-out/overview": {
      "get": {
        "tags": [
          "CashOut"
        ],
        "summary": "Return overview of user cash-out like: withdrawable balance, total withdraw amount",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverviewResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cash-out/requests": {
      "post": {
        "tags": [
          "Request"
        ],
        "summary": "Public api for customer to submit request with settlements",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BatchRequestError"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Request"
        ],
        "summary": "Return list of cash-out requests with complete filtering and queryable",
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestDetailsVMPaging"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cash-out/requests/settlements": {
      "get": {
        "tags": [
          "Settlement"
        ],
        "summary": "Return list of settlements for specific cash-out request with complete filtering and queryable",
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettlementFullDetailsVMPaging"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BatchRequest": {
        "required": [
          "settlements",
          "title"
        ],
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "maxLength": 50,
            "type": "string",
            "nullable": true
          },
          "notifyUrl": {
            "type": "string",
            "nullable": true
          },
          "transferType": {
            "$ref": "#/components/schemas/TransferType"
          },
          "about": {
            "$ref": "#/components/schemas/SettlementAboutType"
          },
          "settlements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchSettlementVM"
            }
          }
        },
        "additionalProperties": false
      },
      "BatchRequestError": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BatchResult": {
        "type": "object",
        "properties": {
          "requestCode": {
            "type": "string",
            "nullable": true
          },
          "settlements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchSettlementDetailsVM"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BatchSettlementDetailsVM": {
        "type": "object",
        "properties": {
          "settlementCode": {
            "type": "string",
            "nullable": true
          },
          "clientRefId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BatchSettlementVM": {
        "required": [
          "amount",
          "clientRefId",
          "fullName",
          "iban"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "iban": {
            "type": "string"
          },
          "description": {
            "maxLength": 50,
            "type": "string",
            "nullable": true
          },
          "clientRefId": {
            "type": "string"
          },
          "mobile": {
            "type": "string",
            "nullable": true
          },
          "nationalId": {
            "type": "string",
            "nullable": true
          },
          "fullName": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CreateRequestResultVM": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "nullable": true
          },
          "settlements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SettlementDetailsVM"
            },
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateSettlementErrorVM"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateSettlementErrorVM": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "iban": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "clientRefId": {
            "type": "string",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateSettlementVM": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "iban": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "clientRefId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DestinationBank": {
        "enum": [
          12,
          15,
          16,
          17,
          18,
          19,
          54,
          55,
          56,
          57,
          61,
          62,
          66
        ],
        "type": "integer",
        "format": "int32"
      },
      "EzNotifyResult": {
        "type": "object",
        "properties": {
          "clientTransferReference": {
            "type": "string",
            "nullable": true
          },
          "serverTransferReference": {
            "type": "integer",
            "format": "int64"
          },
          "bankTransferReference": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OverviewResult": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number",
            "format": "double"
          },
          "withdrawableBalance": {
            "type": "number",
            "format": "double"
          },
          "totalWithdraw": {
            "type": "number",
            "format": "double"
          },
          "walletBalance": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "RequestDetailsVM": {
        "type": "object",
        "properties": {
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "totalWage": {
            "type": "integer",
            "format": "int32"
          },
          "totalAmount": {
            "type": "number",
            "format": "double"
          },
          "status": {
            "$ref": "#/components/schemas/RequestStatus"
          },
          "failedCount": {
            "type": "integer",
            "format": "int32"
          },
          "succeededCount": {
            "type": "integer",
            "format": "int32"
          },
          "inProgressCount": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "RequestDetailsVMPaging": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RequestDetailsVM"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RequestStatus": {
        "enum": [
          0,
          1,
          2,
          3
        ],
        "type": "integer",
        "format": "int32"
      },
      "SettlementAboutType": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          18
        ],
        "type": "integer",
        "format": "int32"
      },
      "SettlementDetailsVM": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "nullable": true
          },
          "wage": {
            "type": "integer",
            "format": "int32"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "destinationBank": {
            "$ref": "#/components/schemas/DestinationBank"
          },
          "persianBankName": {
            "type": "string",
            "nullable": true
          },
          "iban": {
            "type": "string",
            "nullable": true
          },
          "fullName": {
            "type": "string",
            "nullable": true
          },
          "clientRefId": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SettlementFullDetailsVM": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "nullable": true
          },
          "wage": {
            "type": "integer",
            "format": "int32"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "requestCode": {
            "type": "string",
            "nullable": true
          },
          "destinationBank": {
            "$ref": "#/components/schemas/DestinationBank"
          },
          "persianBankName": {
            "type": "string",
            "nullable": true
          },
          "iban": {
            "type": "string",
            "nullable": true
          },
          "fullName": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "bankTransferReference": {
            "type": "string",
            "nullable": true
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "$ref": "#/components/schemas/SettlementStatus"
          }
        },
        "additionalProperties": false
      },
      "SettlementFullDetailsVMPaging": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SettlementFullDetailsVM"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SettlementStatus": {
        "enum": [
          0,
          1,
          2,
          3
        ],
        "type": "integer",
        "format": "int32"
      },
      "SubmitRequestResultVM": {
        "type": "object",
        "properties": {
          "settlementCode": {
            "type": "string",
            "nullable": true
          },
          "clientRefId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TransferType": {
        "enum": [
          0,
          1,
          2
        ],
        "type": "integer",
        "format": "int32"
      },
      "UpdateSettlementVM": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "nullable": true
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "iban": {
            "type": "string",
            "nullable": true
          },
          "clientRefId": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "JWT Authorization header using the Bearer scheme. Example: \"bearer {token}\"",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ]
}